@font-face {
  font-family: 'RetroGaming';
  src: url('./fonts/retro-gaming.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'RetroGaming', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  filter: url("#pixelate");
}

svg {
  display: none;
}